@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import "header.css";
@import "fixed.css";
@import "index.css";
@import "userManageList.css";
@import "userDetail.css";
@import "join.css";
@import "login.css";
@import "myPage.css";
@import "picksList.css";
@import "toSaleList.css";
@import "toBuyList.css";
@import "toSharingList.css";
@import "userLeave.css";
@import "findPw.css";
@import "findPwReset.css";
@import "findPwUpdate.css";
@import "searchList.css";
@import "noticeBoard.css";
@import "noticeBoardRead.css";
@import "noticeBoardWrite.css";
@import "noticeBoardUpdate.css";
@import "blackListBoard.css";
@import "blackListBoardRead.css";
@import "blackListBoardWrite.css";
@import "blackListBoardUpdate.css";
@import "badReviewBoard.css";
@import "badReviewBoardRead.css";
@import "badReviewBoardWrite.css";
@import "badReviewBoardUpdate.css";
@import "toSaleBoard.css";
@import "toSaleBoardRead.css";
@import "toSaleBoardWrite.css";
@import "toSaleBoardUpdate.css";
@import "toSharingBoard.css";
@import "toSharingBoardRead.css";
@import "toSharingBoardWrite.css";
@import "toSharingBoardUpdate.css";
@import "toBuyBoard.css";
@import "toBuyBoardRead.css";
@import "toBuyBoardWrite.css";
@import "toBuyBoardUpdate.css";
@import "footer.css";

:root {
    /* color
    ex) color: var(--color-black);
    */

    --color-personal-orange: #ffb98b;
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-count: #ef402f;
    --color-sub-color: #666666;
    --color-light-grey: #dfdfdf;
    --color-footer-text-grey: #495057;
    --color-border: #f2f2f2;
    --color-input-color: #cccccc;
    --color-list-orange: rgba(255, 185, 139, 0.9);

    /*background-color
    ex) background-color: var(--color-section);
    */
    --color-section: #fbf7f2;
    --color-section3: #e6f3e6;
    --color-footer: #495057;

    /*box-shadow*/
    --box-shadow: 0 0 0.5rem 0.001rem rgba(0, 0, 0, 0.12);

    /*border-radius*/
    --border-radius: 0.5rem;
}

body {
    all: unset;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    color: #333333;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.board--chat{
    border-radius: 10% / 50%;
    color: var(--color-sub-color);
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    padding: 0.2rem 0.3rem;
    transition: 0.5s ease-in-out;
}

.board--chat img{
    height: 1rem;
    width: 1rem;
}

.board--chat:hover {
    background-color: #ebebeb;
    border-radius: 10% / 50%;
}