.main__section {
    width: 100%;
    height: 100%;
}

.section-2,
.section-3,
.section-4 {
    padding: 4rem 0;
}

.main__section-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main__section-content h1 {
    font-size: 3rem;
}

.main__section-content p {
    font-size: 1rem;
}

.section-1 {
    padding-top: 8rem;
    background-color: var(--color-section);
}

.section-1-image {
    background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-top-4eb6b8642f61c5c012136597a25a7b72c705d6c6479a7270f3fb23726fddf585.png");
    width: 804px;
    height: 658px;
    margin-left: 3.8rem;
    background-size: cover;
}

.section-2-image {
    background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-1-39ac203e8922f615aa3843337871cb654b81269e872494128bf08236157c5f6a.png");
    width: 484px;
    height: 606px;
    margin-right: 5rem;
    background-size: cover;
}

.section-2-btn,
.section-4-btn {
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    outline: none;
    padding: 1rem;
}

.section-2 {
    background-color: var(--color-white);
}

.section-2-btn:first-child {
    margin-right: 1rem;
}

.section-3 {
    background-color: var(--color-section3);
}

.section-3-text-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2.5rem 0 5rem 0 0;
}

.section-3-text-list-content-icon {
    margin: 1rem 0;
}
.icon-question {
    background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-1-9226479b836cdc960291ffda91ace46c90a632f6cc868aa8983b3624e662a924.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 3.5rem;
    height: 3.5rem;
}

.icon-lost {
    background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-2-208bb88cad31e335b40bc8ac5b7684dcf8a36d77ac50770a497a9c967a3bfc4f.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 3.5rem;
    height: 3.5rem;
}

.icon-group {
    background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-3-0a14d64c6101a7271655747d8401b9f71506578f8a4c0640608074e977bbc7c0.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 3.5rem;
    height: 3.5rem;
}

.section-3-text-list li {
    margin-right: 3rem;
}

.section-3-image {
    background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-2-f286322ab98acedf914a05bf77e84c67dcb897c8ccb543e66f6afea9d366d06d.png");
    width: 500px;
    height: 666px;
    background-size: cover;
}

.section-4 {
    background-color: var(--color-white);
}

.section-4-image {
    background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-3-0c8b631ac2294ac5a3b3e7a3a5580c3e68a3303ad2aded1e84aa57a2e1442786.png");
    width: 528px;
    height: 691px;
    margin-right: 5rem;
    background-size: cover;
}

.scroll-btn {
    position: fixed;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 3rem;
    bottom: 3rem;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    background-image: url("https://img.icons8.com/metro/26/000000/collapse-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

.scroll-btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
