.to-sale-list {
    margin: 0 29%;
    padding: 10rem 0;
}

.list-title {
    margin: 0 0 1.5rem 0;
}

.to-sale-list__container {
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 2rem 2.5rem 2.5rem 2.5rem;
}

.to-sale-list__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.to-sale-list .to-sale-list__container:not(:last-child) {
    margin-bottom: 2.5rem;
}

.to-sale-list__text {
    text-align: center;
}

.to-sale-list__text strong {
    color: var(--color-personal-orange);
    font-size: 1.2rem;
    margin: 1rem 0;
}

.to-sale-list__text p {
    color: var(--color-sub-color);
}

.to-sale-list__content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.to-sale-list__content .to-sale-list__article {
    margin-bottom: 2rem;
    width: 12rem;
}

.to-sale-list__content--thumbnail {
    border-radius: var(--border-radius);
    height: 10rem;
    overflow: hidden;
    width: 12rem;
}

.to-sale-list__content--thumbnail img {
    height: 10rem;
    width: 12rem;
}

.to-sale-list__content--thumbnail img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.to-sale-list__content--text {
    margin-top: 0.5rem;
}

.to-sale-list__content--text__title {
    font-size: 1.1rem;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.to-sale-list__content--text__address,
.to-sale-list__content--text__date {
    color: var(--color-sub-color);
    font-size: 0.88rem;
    margin: 0.5rem 0 0 0;
    padding: 0;
}

.to-sale-list__content--text__date,
.to-sale-list__content--text__price {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.to-sale-list__content--text__price {
    font-size: 0.9rem;
    margin: 0.5rem 0 0 0;
}

.to-sale-list__content--price {
    color: var(--color-personal-orange);
    font-weight: 500;
}

.to-sale-list__page-num-container {
    margin-top: 1.8rem;
}

.page-num-container {
    align-items: center;
    border: none;
    display: flex;
    justify-content: center;
    outline: none;
}

.page-num-container li {
    height: 26px;
    line-height: 26px;
    margin: 0 0.5rem;
    outline: none;
    text-align: center;
    vertical-align: middle;
    width: 26px;
}

.page-num-container .page-num-container__num {
    border: 1px solid var(--color-border);
    border-radius: 50%;
    box-shadow: 0 0 0.2rem 0.001rem rgba(0, 0, 0, 0.12);
}

.page-num-container .page-num-container__num:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.page-num-container .page-num-container__btn {
    font-size: 1.1rem;
}

.page-num-container .page-num-container__btn:hover {
    color: red;
}
